<div class="container">
  <div class="row">
    <div class="col-md-3" role="complementary">
      <nav>
        <ul class="nav nav-stacked">
          <li>{{#link-to 'index'}}All{{/link-to}}</li>
          {{#each collection in model}}
            <li>
              {{#link-to 'collection' collection}}{{collection.name}}{{/link-to}}
            </li>
          {{/each}}
        </ul>
      </nav>
    </div>
    <div class="col-md-9" role="main">
      {{outlet}}
    </div>
  </div>
</div>


